* {
    /*outline: 1px solid red !important;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 2px;
}

h3 {
    font-size: 18px;
}

.bodyContainer {
    margin: 0 auto;
    width: 900px;

}

.backgroundContainer {
    background-color:  rgb(173, 66, 244); /*Purple. Hex color: #ad42f4*/
    position: absolute;
    width: 100%;
    height: 420px;
    border-bottom: 1px solid #C0C0C0;

    box-shadow: inset 0px 6px 9px -6px;
    -webkit-box-shadow: inset 0px 6px 9px -6px;
    -moz-box-shadow: inset 0px 6px 9px -6px;
    -o-box-shadow: inset 0px 6px 9px -6px;
}

.footerContainer {
    background-color:  rgb(173, 66, 244); /*Purple. Hex color: #ad42f4*/

    width: 100%;
    height: 50px;
    text-align: center;

    box-shadow: inset 0px 6px 11px -6px;
    -webkit-box-shadow: inset 0px 6px 11px -6px;
    -moz-box-shadow: inset 0px 6px 11px -6px;
    -o-box-shadow: inset 0px 6px 119px -6px;
}

.footer {
    display: inline-block;
    margin-top: 16px;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

/* PURPLE MATRIX FISSURES */
/*.ruptureBackgroundContainer {
    position: absolute;
    width: 800px;
    height: 400px;
    outline: 1px solid red !important;
}*/

 /*color: #ffffff;*/
    /*background-color:  rgb(173, 66, 244);*/ /*Purple. Hex color: #ad42f4*/
    /*box-shadow: inset 0px 6px 9px -6px #000;
    border: 1px solid #000;*/

.ruptureParentContainer {
    position: absolute;
    display: flex;
    width: 900px;
    height: 130px;
}
#ruptureContainerLeft {
    width: 300px;
    height: 130px;

    /*outline: 1px solid red !important;*/
}
#ruptureContainerSeparator {
    width: 300px;
    height: 130px;
}
#ruptureContainerRight {
    width: 300px;
    height: 130px;

    /*outline: 1px solid red !important;*/
}

/* PORTRAIT HOVER FOR ABOUT */
.portraitContainer {
    margin-top: 75px;
    text-align: center;
    z-index: 99 !important;
}
#portraitId {
    width: 200px;
    margin: 0 auto;
}
#portraitId:hover + #aboutContainer {
    display: block;
    z-index: 99 !important;
}

/* ABOUT */
#aboutContainer {
    display: none;
    position: absolute;
    font-size: 16px;
    background-color: #fff;
    color: #808080;

    box-shadow: 5px 5px 5px #404040;
    padding: 5px 5px 5px 5px;
    text-align: center;
    margin-top: 10px;
    width: 900px;
    height: 125px;

    /*border: 1px solid #C0C0C0;*/
}
/* ABOUT SPEECH BUBBLE ARROW */
.aboutContainer:after, .aboutContainer:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.aboutContainer:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px;
}
.aboutContainer:before {
    border-color: rgba(192, 192, 192, 0);
    /*border-bottom-color: #C0C0C0;*/
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

 /*Fading Portrait */
/*#portrait-fade {
  position:relative;
  height:200px;
  width:190px;
  margin:0 auto;
}
#portrait-fade img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#portrait-fade img.top:hover {
  opacity:0;
}*/

/* PERSONAL INFORMATION */
.personalInformation {
    color: #fff;
}
.name {
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}
.position {
    font-size: 21px;
    text-shadow: 2px 2px 5px #000;
    text-align: center;

    margin-top: 21px;
    margin-bottom: 27px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.tagline {
    font-size: 16px;
    text-shadow: 2px 2px 5px #000;
    text-align: center;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
/* POSITION AND TAGLINE TEXT FADE IN */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* CONTACT */
.contactGrowContainer {
    color: #808080;
    border: 1px solid #C0C0C0;
    box-shadow: 5px 5px 5px #aaa;
    padding: 5px 5px 5px 5px;
    /*border-radius: 10px;*/
    height: 70px;
    width: 100%;
    margin: 10px 0% 5px 0%;
    float: left;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    z-index: 99;
    background-color: #fff;
}
.contactGrowContainer:hover {
  height: 145px;
  /*box-shadow: 5px 8px 5px #aaa;*/
}


/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    /*margin: 1% 0 1% 1.6%;*/
}
.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    /*width: 66.1%;*/
    width: 66.7%;
}
.span_1_of_3 {
    /*width: 32.2%;*/
    width: 33.3%;
}


/* FLIP CARDS */
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 300px;
  height: 300px;
  /*z-index: 1;*/
}
#f1_container {
  /*perspective: 1000;*/
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}
#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.front {
    text-align: center;
    margin-top: 50px;
    height: 250px;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: #808080;
    text-align: center;
    border: 1px solid #C0C0C0;
}

.project-description-container {
    margin-top: 90px;
}

/* ZOOM IN TEST */
/*#test-wrapper {
    width: 400px;
    height: 267px;
    border: 1px solid black;
    overflow:hidden;
    position:relative;
}
#test-image {
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/92/41/63/92416380370e7d4739cedbdfbd0f4762.jpg');
    background-size: 400px 267px;
    background-position:center;
    transition: all 0.5s ease;
    width:100%;
    height:100%;
    transform: scale(1);
    position:relative;
    left:0;
    top:0;
    -webkit-transform-origin: 40% 30%;
    transform-origin: 40% 30%;
}
#test-wrapper:hover #test-image {
    -webkit-transform: scale(3);
    transform: scale(3);
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/92/41/63/92416380370e7d4739cedbdfbd0f4762.jpg');
}
*/

/*.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

.speech-bubble:after {
    content: 'blah';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}*/


/*FIRST TYPEWRITER EXPERIMENT*/
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1 {
    min-height: 16px;
    overflow: hidden;

    /*height: calc(100vh - 8em);*/
    /*padding: 4em;*/
    /*color: rgba(0,255,0,.75);*/
    color: rgba(0,255,0,1);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25,25,25);
}

.line-1 {
    position: relative;
    top: 50%;
    /*width: 24em;*/
    width: 100%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /*font-size: 180%;*/
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 800ms steps(44) infinite normal;
}
@keyframes typewriter {
  from{width: 0;}
  to{width: 300px;}
}
@keyframes blinkTextCursor {
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.typewriter-background {
    position: relative;
    height: 50px;
    width: 500px;
    background-color: rgb(25,25,25);
}

#circ-container {
    width: 100%;
    align-items: center;
}

#circ1 {
    height: 300px;
    width: 300px;
    border: 1px solid #C0C0C0;
    text-align: center;
}

#circ1:hover {

  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

/* Checkbox Hack */

input[type=checkbox] {
   display: none;
}
label {
  -webkit-appearance: push-button;
  -moz-appearance: button;
  display: inline-block;
  margin: 60px 0 10px 0;
  cursor: pointer;
}

/* Default State */
.toggledContainer {
   background: green;
   width: 400px;
   height: 0px;
   line-height: 100px;
   color: white;
   text-align: center;
}

/* Toggled State */
input[type=checkbox]:checked ~ .toggledContainer {
   background: red;
   width: 400px;
   height: 100px;
}

.toggledContainer {
  content: "Joe's Task: ";
}



/* PROJECT MODAL */
.toggler { background:lightblue; cursor:pointer; }
.toggler .togglee { display:none; }


/* PROJECT DETAILS EXPANDED VIEW */
body {
    overflow-x: hidden; /* disallow x scroll */
}
*:focus {
    outline: none;
}
.headfocusContainer {
    text-align: center;
    width: 100%
}
.headfocus {
    display: inline-block;
    width: 100px;

    border: 1px solid #C0C0C0;

    cursor: pointer;
    cursor: hand;
}

/* PROJECT 5 DETAIL VIEW */
.project5 {
    display: none;
}
.headfocus .project5 {
    display:none;
    outline: none !important;
    cursor: auto;

    /*-webkit-transform:translateZ(0px);*/
}
.headfocus:focus + .project5 {
    display:block;
    outline: none !important;

    padding: 10px;
    text-align: center;

    box-shadow: 5px 5px 5px #aaa;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;

    background-color:  #fff;

    width: 100%;
    height: 420px;

    position: absolute;

    top:-320px;
    left:-300px;
    width:900px;
    height:620px;

    z-index: 99;
    /*-webkit-transform:translateZ(0px);*/
}

/* PROJECT 6 DETAIL VIEW */
.tip6 {
    display: none;
}
.headfocus .tip6 {
    display:none;
    outline: none !important;
    cursor: auto;
}
.headfocus:focus + .tip6 {
    display:block;
    outline: none !important;
    /*outline: solid red 1px;*/

    /*padding: 10px;*/
    text-align: center;

    box-shadow: 5px 5px 5px #aaa;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;

    background-color:  #fff;

    width: 100%;
    height: 420px;

    position: absolute;

    top:-320px;
    left:-600px;
    width:900px;
    height:620px;

    z-index: 98;
}


.innerProjectDetails {
    position: relative;
    outline: solid red 1px;

    top: 5px;
    left: 5px;
    width:890px;
    height:610px;

    background-color: #fff;

    z-index: 99;
}



.headfocus:after {
    /*content: "Explore!";*/
}

.headfocus:hover {

    /*top: 1px;*/

    /*text-shadow: 2px 2px 5px #000;*/

    /*background-color:  rgb(173, 66, 244);*/

  /*  box-shadow: inset 0px 6px 9px -6px;
    -webkit-box-shadow: inset 0px 6px 9px -6px;
    -moz-box-shadow: inset 0px 6px 9px -6px;
    -o-box-shadow: inset 0px 6px 9px -6px;*/
}

/* PROJECT EXPLORATION */
/*.project-exploration-container {
    height: 50px;
    background-color:  rgb(173, 66, 244);

    box-shadow: inset 0px 6px 9px -6px;
    -webkit-box-shadow: inset 0px 6px 9px -6px;
    -moz-box-shadow: inset 0px 6px 9px -6px;
    -o-box-shadow: inset 0px 6px 9px -6px;
}*/


/*outline: 1px solid red !important;*/

/* PROJECT MODALS */

#proj1, #proj2, #proj3, #proj4, #proj5, #proj6 {
    display: none;

    outline: none !important;

    padding: 10px;
    text-align: center;

    box-shadow: 5px 5px 5px #aaa;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;

    background-color:  #fff;

    position: absolute;

    top: 515px;
    width:900px;
    height:620px;

    z-index: 97;
}
.modalsContainer {
    /*DELETE MODALS CONTAINER IF UNUSED*/
}

/*#proj1, #proj2, #proj3, #proj4, #proj5, #proj6 {
    display: none;

    outline: none !important;

    padding: 10px;
    text-align: center;

    box-shadow: 5px 5px 5px #aaa;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;

    background-color:  #fff;

    position: absolute;

    top: 430px;
    width:900px;
    height:705px;

    z-index: 99;
}*/