* {
    /*outline: 1px solid red !important;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    font-size: 18px;
}

/*h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}*/

.bodyContainer {
    margin: 0 auto;
    width: 900px;
}

.backgroundContainer {
    background-color:  rgb(173, 66, 244); /*Hex color: #ad42f4*/
    position: absolute;
    width: 100%;
    height: 400px;
}

.portrait {
    margin-top: 75px;

    /*display: -webkit-flex;
    display: flex;*/

    /*align-items: center;
    justify-content: center;*/
}

.name {
    text-align: center;
}

.position {
    /*color: rgb(173, 66, 244);*/ /*Purple Hex color: #ad42f4*/

    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.tagline {
    margin-bottom: 25px;

    /*color: rgb(173, 66, 244);*/ /*Purple Hex color: #ad42f4*/

    text-align: center;

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

.projectTitle {
    text-align: center;
}

.col:hover {
    transition: 2s;
    color: rgb(173, 66, 244); /*Purple Hex color: #ad42f4*/
}







/* SLIDE OUT ANIMATION */
/*#slideOut {
    position: absolute;
    left: -300px;
    /*left: 0px;*/
    /*width: 300px;
    height: 300px;
    background: blue;
    transition: 1s;
}*/

.projectImage:hover {
     -webkit-animation: fadeOut 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeOut 1s; /* Firefox < 16 */
         -ms-animation: fadeOut 1s; /* Internet Explorer */
          -o-animation: fadeOut 1s; /* Opera < 12.1 */
             animation: fadeOut 1s;

}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-o-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}




/*.innerContainer {
    position: relative;

    width: 600px;
    height: 300px;
    background-color: blue;
}*/


.wrapper {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    /*border: 1px solid black;*/
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}

/* SLIDE ANIMATION */
#slide {
    position: absolute;
    left: -300px;
    /*left: 0px;*/
    width: 300px;
    height: 300px;
    background: blue;
    transition: 1s;
}

@keyframes slide {
    100% { left: 0; }
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@-moz-keyframes slide {
    100% { left: 0; }
}

@-ms-keyframes slide {
    100% { left: 0; }
}

@-o-keyframes slide {
    100% { left: 0; }
}


/* FADE IN ANIMATION */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    /*margin: 1% 0 1% 1.6%;*/
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    /*width: 66.1%;*/
    width: 66.7%;
}
.span_1_of_3 {
    /*width: 32.2%;*/
    width: 33.3%;
}

/*  GO FULL WIDTH AT LESS THAN 600 PIXELS */

/*@media only screen and (max-width: 600px) {
    .col { margin: 1% 0 1% 0%;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}*/

/*
#grid {
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

#grid img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #grid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #grid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #grid {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #grid {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}*/

/*.textInnerContainer {
    display: -webkit-flex;
    display: flex;
}

.text1 {
    width: 150px;
}

.text2 {
    width: 150px;
}

.textOuterContainer {
    width: 150px
    overflow: hidden;
}*/


#f1_container {
  position: relative;
  margin: 10px auto;
  width: 300px;
  height: 300px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.front {
    text-align: center;
    margin-top: 50px;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: #808080;
    text-align: center;
    border: 1px solid #C0C0C0;
}

.project-description-container {
    margin-top: 90px;
}





#f2_container {
  position: relative;
  margin: 10px auto;
  width: 250px;
  height: 250px;
  z-index: 1;
}
#f2_container {
  perspective: 1000;
}
#f2_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s linear;
}
#f2_container:hover #f2_card {
  transform: rotateY(180deg);
}
.pface {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pface {
    text-align: center;
    margin-top: 50px;
}

.pface.pback {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}


#portrait-fade {
  position:relative;
  height:200px;
  width:190px;
  margin:0 auto;
}

#portrait-fade img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#portrait-fade img.top:hover {
  opacity:0;
}
